*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color:#F5F5F5 ;
    padding: 0px 50px;
}
header #logo img{
     height: 25px;
}
header #link{
    display: flex;
    padding: 4px 5px; 
    text-decoration: none;   
}
header #link a{
    text-decoration: none;
    color: black;
    padding: 0px 6px;
    font-size: 12px;
    font-weight: bold;
}
header #link #border{
    border-right:1px solid black ; 
}
nav{
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
nav #logo img{
    height: 50px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}
nav ul a{
    text-decoration: none;
    list-style: none;
    color: black; 
}
nav .button{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav .search{
    position: relative;
}
nav .buttons i{
    font-size: 20px;
}
nav .search i{
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    /* top: 10px;
    left: 10px; */
    /* color: black; */
    /* font-size: 16px; */
}
nav .search input{
    padding: 10px 0px 10px 30px;
    border-radius: 50px;
    border: none;
    background-color: #F5F5F5;
}
#bars{
    display: none;
}
#info{
    text-align: center;
    padding: 10px;
    background-color: #F5F5F5;
    font-size: 18px;
}
#info a{
    color: black;
    font-size: 12px;
    font-weight: bold;
}
#banner img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
#look-of-football{
    text-align: center;
    padding: 40px;
}
#field{
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#look-of-football button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    margin: 25px 0;
}
.featured{
    font-size: 25px;
    padding: 20px 40px;
    font-weight: bold;
}
.categories{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#box1{
    background-image: url(./grid1.avif);
}
#box2{
    background-image: url(./grid2.avif);
}
#box3{
    background-image: url(./grid3.avif);
}
#box4{
    background-image: url(./grid4.avif);
}
.box{
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.content{
    position: absolute;
    color: white;
    padding-top: 400px;
    padding-left: 50px;
    
}
.content p{
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
}
.content #name{
    font-size: 25px;
}
.content button{
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
}
#shop-Icons p{
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 30px;
}



@media screen and (max-width: 450px) {
    header{
        display: none;
    }
    nav{
        padding: 0 10px;
    }
    nav ul{
        display: none;
    }
    nav input{
        display: none;
    }
    #bars{
        display: block;
    }
    nav .search i{
        position: relative;
        padding-top: 0px;
        padding-left: 0px;
    }
    #look-of-football{
        text-align: left;
        padding: 30px;
    }
    #banner img{
        height: 90vh;
        width: 100%;
    }
    #field{
        font-size: 35px;
    }
    /* .box{
        width: 450px;
    } */
    .categories{
        display: block;
    }
    .content{
        padding-left: 20px;
    }
}
