*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
main{
    margin-top: 2vmin;
}
main h1{
    margin-top: 1vmin;
}
.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #e9fcfc;
}
#reset-btn{
    margin-top: 1.2rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
}
#new-btn{
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
}
#msg{
    color: rgb(213, 253, 253);
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.hide{
    display: none;
}