*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #F0F0F2;
    padding: 10px 270px;
}
nav{
    padding: 10px 270px;
    display: flex;
    justify-content: space-between;
    color: black;
}
nav a{
    color: black;
}
#bar{
    display: none;
}
nav ul a{
    text-decoration: none;
}
#nav2{
    padding: 10px 270px;
    text-align: center;
}
#iphone{
    padding: 10px 270px;
    text-align: center;
    background-color: #F5F5F7;
}
#iphone h1{
    font-size: 60px ;
}
#iphone p{
    font-size: 28px;  
    padding-top: 10px;
    padding-bottom: 10px;
}
#iphone img{
    height: 500px;
    width: 880px;
    align-items: center;
}
#home{
    padding: 10px 270px;
    text-align: center;
    background: linear-gradient(to bottom ,#D4EAF7,white);
}
#home h1{
    font-size: 60px;
}
#home p{
    font-size: 28px;  
}
#home img{
    height: 400px;
    width: 780px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#btn1{
    background-color: #0071E3;
    border: none;
    padding: 10px 30px;
    border-radius: 35px;
    color: white;
    font-size: 20px;
}
#btn2{
    padding: 8px 25px;
    border-radius: 35px;
    background-color: white;
    border-color: #0071E3 ;
    color: #0071E3;
    font-size: 20px;
}
#home h4{
  
}
#home2{
    padding: 10px 270px;
    justify-content: center;
}
#home2 .box h1{
    height: 100px;
    width: 100px;
    background-color: #007AFF;
    color: white;
}
#home2 .box h3{
    background-color: #007AFF;
    color: white;
}
section{
    padding: 10px 270px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5px;
    margin: 4px;
    border: #000000;
}
#watch{
    background-color:linear-gradient(to bottom ,#F5F5F7,white); 

}
#ipad{
    background: linear-gradient(to bottom ,#ACDBED,white);
}
#ipadpro{
    background-color: #000000;
    color: white;
}
#watch img{
    height: 300px;
    width: 600px;
}
#ipad img{
    height: 300px;
    width: 500px;
}
#mac img{
    height: 400px;
    width: 600px;
}
#ipadpro img{
    height: 200px;
    width: 600px;
}


@media (max-width: 425px) {
    header{
        padding: 10px 30px;
    }
    nav{
        padding: 10px 30px;
    }
    #nav2{
        padding: 10px 30px;
    }
    #iphone{
        padding: 10px 30px;
    }
    #home{
        padding: 10px 30px;
    }
    #home2{
        padding: 10px 30px;
    }
    #iphone img{
    height: 100px;
    width: 300px;
    }
    #home img{
    height: 100px;
    width: 300px;
    }
    #bar{
        display: flex;
    }
    #txt{
        display: none;
    }
    #home h1{
    font-size: 30px;
    }
    #home p{
    font-size: 12px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    header{
        padding: 10px 50px;
    }
    nav{
        padding: 10px 50px;
    }
    #nav2{
        padding: 10px 50px;
    }
    #iphone{
        padding: 10px 50px;
    }
    #home{
        padding: 10px 50px;
    }
    #home2{
        padding: 10px 50px;
    }
    #iphone img{
    height: 300px;
    width: 500px;
    }
    #home img{
    height: 200px;
    width: 400px;
    }
    #bar{
        display: flex;
    }
    #txt{
        display: none;
    }
     #home h1{
    font-size: 40px;
    }
    #home p{
    font-size: 18px;
    }
}        
 @media (min-width: 769px) and (max-width: 1080px) {
    header{
        padding: 10px 150px;
    }
    nav{
        padding: 10px 150px;
    }
    #nav2{
        padding: 10px 30px;
    }
    #iphone{
        padding: 10px 50px;
    }
    #home{
        padding: 10px 30px;
    }
    #home2{
        padding: 10px 30px;
    }
    #bar{
        display: flex;
    }
    #iphone img{
    height: 400px;
    width: 880px;
    }
     #home h1{
    font-size: 40px;
    }
    #home p{
    font-size: 18px;
    }
}    