*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    padding: 10px 120px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
#logo img{
   padding-top: 8px; 
   height: 18px;

}
#register{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#register ul{
    padding-top: 10px;
}

#register button{
    background-color: #4CAF4F;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    color: white;
    font-size: 15px;
}
#home{
    display:flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 120px;
    background-color: #f5f7fa;
}
#lesson{
    font-size: 80px;
    font-weight: bold;
}
#from{
    font-size: 80px;
    
    color: #4CAF4F;
    font-weight: bold;
}
#para{
    font-size: 15px;
    color: grey;
}

.part1 button{
    background-color: #4CAF4F;
    border: none;
    padding: 10px 25px;
    border-radius: 2px;
    color: white;
    font-size: 15px;
}
#home2{
    padding: 20px 120px;
    text-align:center ;
}
#home2 p{
    font-size: 15px;
    color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
}
#home2 #logo2{
    display: flex;
    justify-content: space-between;
}
#home3{
    text-align: center;
    padding: 20px 120px;
}
#home3 p{
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
}
#group{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
#home4{
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
}
#unseen{
    padding-top: 40px;
}
#unseen p{
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
}
#unseen button{
    background-color: #4CAF4F;
    border: none;
    padding: 10px 25px;
    border-radius: 2px;
    color: white;
    font-size: 15px;
}
#home5{
    display: flex;
    justify-content: space-between;
    background-color: #f5f7fa;
    padding: 20px 120px; 
}
.help{
    padding-top: 50px;
}
#its{
    color:  #4CAF4F;
}
.help p{
    padding-top: 15px;
}
#help2{
    display: flex;
    justify-content: space-between;
    gap: 250px;
    padding-right: 150px;
}
.members p{
    color: gray;
}
#home6{
    display: flex;
    justify-content: space-between;
    padding: 20px 120px; 
}
.how{
   padding-top: 70px;
}
.how p{
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
}
.how button{
    background-color: #4CAF4F;
    border: none;
    padding: 10px 25px;
    border-radius: 2px;
    color: white;
    font-size: 15px;
}
#home7{
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    gap: 40px;
}
#home7 img{
    height: 250px;
    border-radius: 10px;
}
#home7 h3{
    color: #4CAF4F;
    padding-top: 20px;
    padding-bottom: 5px;
}
#home7 p{
    color: gray;
}
#home7 #logoTim{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
#logoTim img{
    height: 35px;
}
#logoTim h4{
    color: #4CAF4F;
    padding-top: 8px;
    gap: 10px;
}
#meet{
    display: none;
}
#home8{
    padding: 20px 120px;
    text-align: center;
}
#home8 p{
    color: gray;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
#slider{
    display: flex;
    justify-content: space-between;
}
#slider img{
    height: 300px;
    border-radius: 10px;
   
}
.card{
    position: relative;
}
.card .details{
    height: 140px;
    width: 250px;
    box-shadow: 0px 8px 10px #aaaaab;
    background-color: #F5F7FA;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 68px;
    
} 
#pre-footer{
    text-align:center ;
    padding: 20px 120px;
} 
#pre-footer p{
    font-size: 65px;
    padding-top: 30px;
    padding-bottom: 25px;
}
#pre-footer button{
    background-color: #4CAF4F;
    border: none;
    padding: 10px 25px;
    border-radius: 2px;
    color: white;
    font-size: 15px;
}
#footer{
    background-color:#263238;
    color: white;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
}
#footer p{
    padding-top: 20px;
}
#link #insta{
    height: 25PX ;
    width: 25PX;
    background-color: #515B60;
    border-radius: 50%;
    justify-self: center;
    align-items: center;
    border: none;
    outline: none;
}
#footer #link{
    padding-top: 30px;
    gap: 20px;
}
.div2{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding-right: 70px;
}
.div2 p{
    font-size: 13px;
}
.company h4{
    padding-bottom: 20px;
}
#mail{
    background-color: #515B60;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
}



@media screen and (max-width:450px){
    nav{
        padding: 10px 30px;
    }
    #register{
        gap: 10px;
    }
     #register {
        display: none;
    }
    #home{
        flex-direction: column-reverse;
        padding: 10px 30px;
        text-align: center;
    }
    #lesson{
    font-size: 50px;
    }
    #from{
    font-size: 50px;
    }
    #home2{
    padding: 10px 30px;
    }
    #home2 #logo2 img{
        height: 40px;
        width: 40px;
    }
    #home3{
    padding: 10px 30px;
    }
    #group{
        flex-direction: column;
    }
    .groups{
        padding: 0px 50px;
    }
    #home4{
        padding: 10px 30px;
        flex-direction: column;
    }
    #home5{
        padding: 10px 30px;
        flex-direction: column;
        text-align: center;
    }
    #help2{
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
    #home6{
        padding: 10px 30px;
        flex-direction: column-reverse;
        text-align: center;
    }
    #home7{
        padding: 10px 30px;
        flex-direction: column;
        align-items: center;
    }
    #home7 img{
        height: 250px;
        width: 250px;
    }
    .tim #logoTim{
        align-items: center;
    }
    .tim #logoTim img{
        height: 20px;
        width: 20px;
    }
    #logoTim h4{
        display: none;
    }
    #meet{
        display: flex;
        color: #4CAF4F;
        padding-top: 8px;
        gap: 10px;
    }
    #home8{
        padding: 10px 30px;
        align-items: center;
    }
    #slider{
        flex-direction: column;
    }
    #pre-footer{
        padding: 10px 30px;
    }
    #pre-footer p{
        font-size: 38px;
    }
    #footer{
        padding: 10px 30px; 
        flex-direction: column-reverse;   
        text-align: center;  
    }
    
    #slider img{
    height: 250px;
    padding-bottom: 80px;
    }
   .card .details{
    top: 220px;
    left: 95px;
    height: 50px;
    width: 200px;
    align-items: center;
    }
    .company{
        display: none;
    }
    .card .details h4{
        padding-top: 15px;
    }
}